{{#section 'css'}}

<!-- DataTables CSS -->
<link href="/assets/css/dataTables.bootstrap.css" rel="stylesheet">

<!-- DataTables Responsive CSS -->
<link href="/assets/css/dataTables.responsive.css" rel="stylesheet">

{{/section}}

{{#section 'js'}}
<!-- DataTables JavaScript -->
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/dataTables.bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
    $('#datatable').DataTable({
      responsive: true
    });
  });
</script>
{{/section}}
<div class="before-body container">

  <div class="breadcrumb-container row">
    <div class="container-kplus">
      <div class="col-md-12 col-xs-12">

        <h2 class="title">
          <span>Th&#244;ng tin t&#224;i khoản</span>
        </h2>
      </div>
    </div>
  </div>

</div>
<div class="body container">
  <div class="row margin-top-20">
    <div class="container-kplus">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">





        <style type="text/css">
          .profile .profile-edit hr {
            margin: 10px 0 10px;
          }

          .headline {
            margin: 10px 0 10px 0;
          }
        </style>

        <div class="profile">
          <div class="row">
            <!--Left Sidebar-->
            <div class="col-md-3 md-margin-bottom-40">




              <img class="img-responsive profile-img margin-bottom-20"
                src="C:/Users/King_SPG/Desktop/ứng dụng wed/Đồ Án/magexpress/images/300x215x3.jpg" alt="">

              <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                <li class="list-group-item active">
                  <a href="Admin.html"><i class="fa fa-user"></i>Thông tin tài khoản</a>
                </li>

                <li class="list-group-item ">
                  <a href="/mykplus/vi-vn/manage/changepassword"><i class="fa fa-lock"></i> Thay đổi mật khẩu</a>
                </li>
                <li class="list-group-item">
                  <a href="Admin_giahan.html"><i class="fa fa-arrows"></i> Gia hạn tài khoản người dùng</a>
                </li>
                <li class="list-group-item">
                  <a href="Admin_phancong.html"><i class="fa fa-group"></i> Phân công chuyên mục</a>
                </li>
                <li class="list-group-item">
                  <a href="Admin_QlchuyenMuc.html"><i class="fa fa-cogs "></i> Quản lý chuyên mục</a>
                </li>
                <li class="list-group-item">
                  <a href="Admin_Qltags.html"><i class="fa fa-certificate"></i> Quản lý nhãn tags</a>
                </li>
                <li class="list-group-item">
                  <a href="Admin_QLbaiViet.html"><i class="fa fa-archive"></i> Quản lý bài viết</a>
                </li>
                <li class="list-group-item">
                  <a href="Admin_QLnguoiDung.html"><i class="fa fa-asterisk"></i> Quản Lý Người Dùng</a>
                </li>

              </ul>
              <hr>

            </div>
            <!--End Left Sidebar-->

            <div class="col-md-9">
              <!--Profile Body-->
              <div class="profile-body margin-bottom-20">
                <div class="tab-v1">







                  <div id="profile" class="profile-edit tab-pane fade in active">
                    <div class="headline">
                      <h2>QUẢN LÝ CHUYÊN MỤC</h2>
                    </div>
                    <br>

                    <form action="/admin/qlchuyenmuc/them/" method="post">
                      <label>Thêm chuyên mục: </label>
                      <input type="text" name="cm" width="100px" placeholder="Chuyên mục lớn ">
                      <input type="text" name="cm1" width="100px" placeholder="Chuyên mục con 1">
                      <input type="text" name="cm2" width="100px" placeholder="Chuyên mục con 2">
                      <button class="btn btn-primary" type="submit">Thêm</button>
                    </form>

                    <div class="table-responsive">
                      <table class="table table-striped table-bordered table-hover" id="datatable" border="1px"
                        cellspacing="0px" width="100%" style="margin-bottom: 50px">
                        <tr style="height:  40px; background-color: #7092cc; color: white">

                          <th class="th1">Chuyên mục lớn</th>
                          <th> Chuyên mục nhỏ 1</th>
                          <th>Chuyen mục nhỏ 2</th>
                          <th width="150px" class="th1">Thao tác</th>
                        </tr>
                        {{#each chuyenmuc}}
                        <tr style="height: 30px">
                          <form method="POST" action="/admin/qlchuyenmuc/xoacm">
                            <input type="hidden" name="idcm" value="{{idChuyenMuc}}">
                            <input type="hidden" name="idcm1" value="{{idcm1}}">
                            <input type="hidden" name="idcm2" value="{{idcm2}}">
                            <td><input name="cm" height="100%" width="100%" value="{{TenCM}}"> </td>
                            <td> <input name="cm1" height="100%" width="100%" value="{{cm1}}"></td>
                            <td><input name="cm2" height="100%" width="100%" value="{{cm2}}"></td>
                            <td>
                              <div>
                                <button formaction="/admin/qlchuyenmuc/suacm/"
                                  style="margin-left:20px;background:transparent;border:transparent" type="submit"><img
                                    src="https://img.icons8.com/wired/20/000000/pencil.png"></button>
                                <button style="margin-left:20px;background:transparent;border:transparent"
                                  type="submit"><img
                                    src="https://img.icons8.com/material/20/000000/delete-forever.png"></button>
                              </div>
                            </td>
                          </form>
                        </tr>
                        {{/each}}
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>