{{#section 'js'}}

<script>

    function mychange() {
        var id = document.getElementById('cm').value;
        if (id != 0) {
            window.location = '/admin/duyetbai/' + id;
        }
    }

    $("button").click(function () {
        //var inputValue = $(this).closest("tr").find("input[type=text]").val();
        //var selectValuse = $(this).closest("tr").find("[name='select_job']").val();
        var idChuyenMuc = document.getElementById('idchuyenmuc');
        var index = $(this).closest("tr").index();
        var table = document.getElementById("myTable");
        var id = table.rows[index].cells[0].innerHTML;
        idChuyenMuc.value = id;
    });

</script>

{{/section}}

<div class="before-body container">

    <div class="breadcrumb-container row">
        <div class="container-kplus">
            <div class="col-md-12 col-xs-12">

                <h2 class="title">
                    <span>Th&#244;ng tin t&#224;i khoản</span>
                </h2>
            </div>
        </div>
    </div>

</div>
<div class="body container">
    <div class="row margin-top-20">
        <div class="container-kplus">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">





                <style type="text/css">
                    .profile .profile-edit hr {
                        margin: 10px 0 10px;
                    }

                    .headline {
                        margin: 10px 0 10px 0;
                    }
                </style>

                <div class="profile">
                    <div class="row">
                        <!--Left Sidebar-->
                        <div class="col-md-3 md-margin-bottom-40">




                            <img class="img-responsive profile-img margin-bottom-20"
                                src="C:/Users/King_SPG/Desktop/ứng dụng wed/Đồ Án/magexpress/images/300x215x3.jpg"
                                alt="">

                            <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                                <li class="list-group-item active">
                                    <a href="Admin.html"><i class="fa fa-user"></i>Thông tin tài khoản</a>
                                </li>

                                <li class="list-group-item ">
                                    <a href="/mykplus/vi-vn/manage/changepassword"><i class="fa fa-lock"></i> Thay đổi
                                        mật khẩu</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="Admin_giahan.html"><i class="fa fa-arrows"></i> Gia hạn tài khoản người
                                        dùng</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="Admin_phancong.html"><i class="fa fa-group"></i> Phân công chuyên mục</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="Admin_QlchuyenMuc.html"><i class="fa fa-cogs "></i> Quản lý chuyên mục</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="Admin_Qltags.html"><i class="fa fa-certificate"></i> Quản lý nhãn tags</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="Admin_QLbaiViet.html"><i class="fa fa-archive"></i> Quản lý bài viết</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="Admin_QLnguoiDung.html"><i class="fa fa-asterisk"></i> Quản Lý Người
                                        Dùng</a>
                                </li>


                            </ul>
                            <hr>

                        </div>
                        <!--End Left Sidebar-->

                        <div class="col-md-9">
                            <!--Profile Body-->
                            <div class="profile-body margin-bottom-20">
                                <div class="tab-v1">







                                    <div id="profile" class="profile-edit tab-pane fade in active">
                                        <div class="headline">
                                            <h2>QUẢN LÝ BÀI VIẾT</h2>
                                        </div>
                                        <br>
                                        <div style="margin-top: 10px; margin-bottom: 1px">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="header_top">
                                                        <div class="header_top_left">
                                                            <ul class="top_nav">
                                                                <li><a style=" font-weight: 600;"
                                                                        href="/admin/xemdanhsachbaiviet">Xem danh sách
                                                                        bài viết</a></li>
                                                                <li><a style=" font-weight: 600;"
                                                                        href="/admin/duyetbai">
                                                                        Duyệt bài
                                                                    </a></li>
                                                            </ul>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div style="margin-top:20px">
                                            <label style="font-size:16px;margin-top:15px; "> Chọn chuyên mục :</label>
                                            <select onchange="mychange()" id="cm" name="cm"
                                                style="margin-left: 10px;height:30px;width:100px;font-size:14px;border: 1 gray solid">

                                                {{#each CMNho}}
                                                {{#if isSelected}}
                                                <option selected value="{{idChuyenMuc}}">{{TenCM}}</option>
                                                {{else}}
                                                <option value="{{idChuyenMuc}}">{{TenCM}}</option>
                                                {{/if}}
                                                {{/each}}
                                            </select>
                                        </div>

                                        <table id="myTable" class="table" style="margin-top: 20px;">
                                            <tr style="background: #6495ED">
                                                <th style="width: 0%; font-size:0px"></th>
                                                <th width="50px">Tên bàiii</th>
                                                <th>Người viết</th>
                                                <th>Chuyên mục</th>
                                                <th>Ngày gửiiii</th>
                                                <th width="170 px">Phê duyệt</th>
                                            </tr>
                                            {{#each baiviet}}
                                            <tr>
                                                <td style="width: 0%; font-size:0px">{{idBaiBao}}</td>
                                                <td><a href="/baibao/{{idBaiBao}}" style="color: blue"> {{TenBaiBao}} </a></td>
                                                <td>{{HoTen}}</td>
                                                <td>{{TenCM}}</td>
                                                <td>{{NgayDang}}</td>
                                                <td>
                                                    <button style="background: #cccccc" type="button"
                                                        class="btn btn-primary" data-toggle="modal" title="Duyệt bài"
                                                        data-target="#duyet"><img
                                                            src="https://img.icons8.com/color/20/000000/checkmark.png"></button>

                                                    <button style="background: #cccccc" title="Từ chối duyệt" stype="button"
                                                        class="btn btn-primary"><img
                                                            src="https://img.icons8.com/color/19/000000/close-window.png"></button>
                                                </td>
                                            </tr>
                                            {{/each}}

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>



        <div class="row">
            <div class="container-kplus padding-right-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                </div>
            </div>
        </div>

        <!--footer-->

    </div>




    <!-- Modal -->

    <div class="modal fade" id="duyet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"><b>Chọn ngày đăng bài viết</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="/admin/adminduyetbai">
                    <div class="modal-body">
                        <label style="margin-left:50px;font-size:13px"><b>Ngày đăng: </b></label>
                        <input style="font-size: 13px;border:1 gray solid;margin-left: 50px" type="date" name="day">
                        <input type="hidden" name="idchuyenmuc" id="idchuyenmuc">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>