<section id="mainContent">
    <div class="content_bottom">
      <div class="col-lg-8 col-md-8">
        <div class="content_bottom_left">
          <div class="single_page_area">
            <ol class="breadcrumb">
              <li><a href="/">Index</a></li>
             
              <li class="active">{{this.baibao.TenBaiBao}} </li>
            </ol>
            <h2 class="post_titile">{{this.baibao.TenBaiBao}}</h2>
            <div class="single_page_content">
              <div class="post_commentbox"> <a href="#"><i class="fa fa-user"></i>Wpfreeware</a> <span><i class="fa fa-calendar"></i>{{this.baibao.NgayDang}}</span> <a href="#"><i class="fa fa-tags"></i>{{this.baibao.T}}</a> </div>
     
              <h4>{{this.baibao.NoiDungTomTat}}</h4>
             
              <div>{{{this.baibao.NoiDung}}}</div>

            </div>
          </div>
        </div>
        
        
      </div>
   
       <div class="col-lg-4 col-md-4">
        <div class="content_bottom_right">
          <div class="single_bottom_rightbar">
            <h2>Bài viết cùng chuyên mục</h2>
            <ul class="small_catg popular_catg wow fadeInDown">
              {{#each baibaocungchuyenmuc }}
              <li>
                <div class="media wow fadeInDown"> <a href="#" class="media-left"> <img alt="" src="{{AnhDaiDien}}"> </a>
                  <div class="media-body">
                      <h4 class="media-heading"><a href="/baibao/{{idBaiBao}}">{{TenBaiBao}}</a></h2></h4>
                    <p>{{NoiDungTomTat}} </p>
                     <div class="Date">{{NgayDang}}</div>
                  </div>
                </div>
              </li>
              {{/each}}
            </ul>
          </div>
        
          
        </div>
      </div>
      </div>
    </div>
  </section>
</div>
<footer id="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="single_footer_top wow fadeInLeft">
           
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="single_footer_top wow fadeInDown">
           
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="single_footer_top wow fadeInRight">
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="footer_bottom_left">
           
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="footer_bottom_right">
           
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
