<div class="before-body container">

    <div class="breadcrumb-container row">
        <div class="container-kplus">
            <div class="col-md-12 col-xs-12">

                <h2 class="title">
                    <span>Th&#244;ng tin t&#224;i khoản</span>
                </h2>
            </div>
        </div>
    </div>

</div>
<div class="body container">
    <div class="row margin-top-20">
        <div class="container-kplus">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <style type="text/css">
                    .profile .profile-edit hr {
                        margin: 10px 0 10px;
                    }

                    .headline {
                        margin: 10px 0 10px 0;
                    }
                </style>
                <div class="profile">
                    <div class="row">
                        <!--Left Sidebar-->
                        
                        <div class="col-md-3 md-margin-bottom-40">




              <img class="img-responsive profile-img margin-bottom-20"
                src="C:/Users/King_SPG/Desktop/ứng dụng wed/Đồ Án/magexpress/images/300x215x3.jpg" alt="">

              <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                <li class="list-group-item active">
                  <a href="Admin.html"  style="color:#F1F1F1"><i class="fa fa-user"></i>Thông tin tài khoản</a>
                </li>

                <li class="list-group-item ">
                  <a href="/mykplus/vi-vn/manage/changepassword"><i class="fa fa-lock"></i> Thay đổi mật khẩu</a>
                </li>
                <li class="list-group-item">
                  <a href="Admin_giahan.html"><i class="fa fa-arrows"></i> Gia hạn tài khoản người dùng</a>
                </li>
                <li class="list-group-item">
                  <a href="Admin_phancong.html"><i class="fa fa-group"></i> Phân công chuyên mục</a>
                </li>
                <li class="list-group-item">
                  <a href="Admin_QlchuyenMuc.html"><i class="fa fa-cogs "></i> Quản lý chuyên mục</a>
                </li>
                <li class="list-group-item">
                  <a href="Admin_Qltags.html"><i class="fa fa-certificate"></i> Quản lý nhãn tags</a>
                </li>
                <li class="list-group-item">
                  <a href="/admin/xemdanhsachbaiviet/"><i class="fa fa-archive"></i> Quản lý bài viết</a>
                </li>
                <li class="list-group-item">
                  <a href="/Admin/xemdanhsachnguoidung/"><i class="fa fa-asterisk"></i> Quản Lý Người Dùng</a>
                </li>


              </ul>
              <hr>

            </div>
                        <!--End Left Sidebar-->
                        <div class="col-md-9">
                            <!--Profile Body-->
                            <div class="profile-body margin-bottom-20">
                                <div class="tab-v1">
                                    <div id="profile" class="profile-edit tab-pane fade in active"
                                        style="margin: 10px 0 10px;">
                                        <div class="headline">
                                            <h2>Thông tin tài khoản</h2>
                                            <a style="width: 100px;" class="pull-right btn-u btn-u-purple"
                                                data-toggle="modal" data-target="#myModal"><i
                                                    class="fa fa-pencil"></i>Chỉnh sửa</a>
                                            <div class="modal conatiner" id="myModal">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">

                                                        <div class="modal-content">
                                                            <h2 style="margin-left: 40%;">Chỉnh sửa</h2>

                                                            <form method="post" action="/admin/approvepost_update">
                                                                    <input type="hidden" value="{{infoThanhVien.idThanhVien}}" name="idtv">
                                                                <div class="form-group">
                                                                    <label for="pwd" style="margin-left: 20px">Phan he:</label>
                                                                      <select  name="tenph" 
                                                                       style=" background: #F5F5DC;color:black;width:30%;margin-left: 60px;padding-left:10px" >
                                                                        {{#each dsphanhe}}
                                                                        <option value="{{idPhanHe}}"
                                                                           >{{TenPhanHe}}</option>
                                                                        {{/each}}
                                                                    </select>


                                                                </div>
                                                               
                                                              

                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary"
                                                                        style="width:30%;float:left;margin-left: 70px;">Duyệt</button>
                                                                    <button type="button" class="btn btn-danger "
                                                                        style="float:right; width:30%;margin-right: 70px;"
                                                                        data-dismiss="modal">Đóng</button>
                                                                </div>

                                                            </form>

                                                        </div>

                                                        <!-- Modal footer -->


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <dl class="dl-horizontal">
                                            <dt><strong>Email: </strong></dt>

                                            <dd>
                                                <span class="lbl-data">{{infoThanhVien.Email}}</span>

                                            </dd>

                                            <hr>
                                            <dt><strong>Ngày sinh: </strong></dt>
                                            <dd>
                                                <span class="lbl-data">{{infoThanhVien.datePublished}}</span>

                                            </dd>
                                            <dt></dt>
                                            <hr>
                                            <dt><strong>Họ và tên: </strong></dt>
                                            <dd>
                                                <span class="lbl-data">{{infoThanhVien.HoTen}}</span>

                                            </dd>
                                            <dt></dt>
                                            <hr>
                                            <dt><strong>Phân hệ: </strong></dt>
                                        
                                            <dd>
                                                {{!-- <span class="lbl-data">{{authUser.HoTen}}</span> --}}
                                                <span class="lbl-data"> {{PhanHe.TenPhanHe}}</span>
                                                <hr>
                                            </dd>
                                          
                                            <dt></dt>
                                        </dl>
                                        <div class="headline">
                                            <h2>Thông tin gói kênh</h2>
                                        </div>
                                        <br />
                                        <dl class="dl-horizontal">

                                            <dt><strong>Trạng thái </strong></dt>
                                            <dd>
                                                Hoạt động

                                            </dd>
                                            <hr>
                                            <dt><strong>Thời hạn </strong></dt>
                                            <dd>
                                               {{infoThanhVien.HieuLuc}} ngày
                                               
                                            </dd>
                                            <hr>

                                        </dl>

                                    </div>

                                </div>
                            </div>
                            <!--End Profile Body-->
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        if ($("#frmCoupon").hasClass("has-error")) {
                            var scrollPos = $("#frmCouponContainer").offset().top;
                            $(window).scrollTop(scrollPos - 200);
                        }
                    });
                </script>


            </div>
        </div>
    </div>



    <div class="row">
        <div class="container-kplus padding-right-10">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


            </div>
        </div>
    </div>

    <!--footer-->

</div>