<section id="mainContent">
    <div class="content_bottom">
      <div class="col-lg-8 col-md-8">
        <div class="content_bottom_left">
          <div class="single_category wow fadeInDown">
            <div class="archive_style_1">
              <div style="margin-top:15px;">
                <ol class="breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li><a href="#">{{baivietchuyenmuc.1.TenCM}}</a></li>
                  
                </ol>
              </div>
              <h2> <span class="bold_line"><span></span></span> <span class="solid_line"></span> <span class="title_text"> {{baivietchuyenmuc.1.TenCM}}</span>  </h2>
              {{#each baivietchuyenmuc}} 
               <div class="business_category_left wow fadeInDown">
                <ul class="fashion_catgnav">
                  <li>
                    <div class="catgimg2_container"> <a href="/baibao/{{idBaiBao}}"><img alt="" src="{{AnhDaiDien}}"></a> </div>
                    <h2 class="catg_titile"><a href="/baibao/{{idBaiBao}}">{{TenBaiBao}}</a></h2>
                    <div class="comments_box"> <span class="meta_date">{{NgayDangBai}}</span> <span class="meta_comment"><a href="#">No Comments</a></span> <span class="meta_more"><a  href="#">Read More...</a></span> </div>
                    <p>{{NoiDungTomTat}}</p>
                  </li>
                </ul>
              </div>
              {{/each}}
             
              
             
            </div>
          </div>
        </div>
        <div class="pagination_area">
          <nav>
            <ul class="pagination">
              <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
        <div class="col-lg-4 col-md-4">
        <div class="content_bottom_right">
         
          <div class="single_bottom_rightbar">
            <ul role="tablist" class="nav nav-tabs custom-tabs">
              <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="home" href="#mostPopular">Most Popular</a></li>
              <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="messages" href="#recentComent">Recent Comment</a></li>
            </ul>

            <div class="tab-content">
              <div id="mostPopular" class="tab-pane fade in active" role="tabpanel">
                <ul class="small_catg popular_catg wow fadeInDown">

                  {{#each muoibaibao}}
                  <li>
                    <div class="media wow fadeInDown"> <a class="media-left" href="#"><img src="{{AnhDaiDien}}" alt=""></a>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="/baibao/{{idBaiBao}}">{{TenBaiBao}}</a></h4>
                        <p>{{NoiDungTomTat}} </p> 
                        <div class="Date">{{NgayDangBai}}</div>
                        <div class="Tags">
                          <strong>Tags: </strong>
                          <a href="/baibao/{{idBaiBao}}">Bai Viet 1</a>
                          ,
                          <a href="/baibao/{{idBaiBao}}">Bai Viet 2</a>
                        </div>
                      </div>
                    </div>
                  </li>
                 {{/each}}
                </ul>
              </div>
           <div id="recentComent" class="tab-pane fade" role="tabpanel">
                <ul class="small_catg popular_catg">

                    {{#each baimoinhat}}
                    <li>
                      <div class="media wow fadeInDown"> <a class="media-left" href="/baibao/{{idBaiBao}}"><img src="{{AnhDaiDien}}" alt=""></a>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="#">{{TenBaiBao}} </a></h4>
                          <p>{{NoiDungTomTat}} </p>
                          <div class="Date">{{NgayDangBai}}</div>
                         
                           <div class="Tags">
                          <strong>Tags: </strong>
                          <a href="/baibao/{{idBaiBao}}">Bai Viet 1</a>
                          ,
                          <a href="/baibao/{{idBaiBao}}">Bai Viet 2</a>
                        </div>
                        </div>
                      </div>
                    </li>
                    {{/each}}
              
                  </ul>
                </div>
            </div>
          </div>
          
      
        </div>
      </div>
    </div>
  </section>
</div>
<footer id="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="single_footer_top wow fadeInLeft">
            <h2>Flicker Images</h2>
            <ul class="flicker_nav">
              <li> <a href="#"><img src="../images/75x75.jpg" alt=""></a> </li>
              <li> <a href="#"><img src="../images/75x75.jpg" alt=""></a> </li>
              <li> <a href="#"><img src="../images/75x75.jpg" alt=""></a> </li>
              <li> <a href="#"><img src="../images/75x75.jpg" alt=""></a> </li>
              <li> <a href="#"><img src="../images/75x75.jpg" alt=""></a> </li>
              <li> <a href="#"><img src="../images/75x75.jpg" alt=""></a> </li>
              <li> <a href="#"><img src="../images/75x75.jpg" alt=""></a> </li>
              <li> <a href="#"><img src="../images/75x75.jpg" alt=""></a> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="single_footer_top wow fadeInDown">
            <h2>Labels</h2>
            <ul class="labels_nav">
              <li><a href="#">Gallery</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Games</a></li>
              <li><a href="#">Fashion</a></li>
              <li><a href="#">Sports</a></li>
              <li><a href="#">Technology</a></li>
              <li><a href="#">Slider</a></li>
              <li><a href="#">Life &amp; Style</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="single_footer_top wow fadeInRight">
            <h2>About Us</h2>
            <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed nec laoreet orci, eget ullamcorper quam. Phasellus lorem neque, </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="footer_bottom_left">
            <p>Copyright &copy; 2045 <a href="../index.html">magExpress</a></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="footer_bottom_right">
            <p>Developed BY Wpfreeware</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>