
    <div style="margin-top: 10px; margin-bottom: 1px">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="header_top">
                    <div class="header_top_left">
                        <ul class="top_nav">
                            <li><a style=" font-weight: 600;" href="/writer">Đăng bài</a></li>
                            <li><a style=" color: #FFA500; font-weight: 600;" href="/writer/danhsachbaiviet">Xem
                                    danh sách bài viết</a></li>

                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="single_bottom_rightbar">
        <ul role="tablist" class="nav nav-tabs custom-tabs">
            <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="home"
                    href="#baiVietDaXuatBan">Bài viết đã xuất bản</a></li>
            <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="messages"
                    href="#baiVietChoPheDuyet">Bài viết chờ phê duyệt</a></li>
            <li role="presentation"> <a data-toggle="tab" role="tab" aria-controls="" href="#baiVietChoXuatBan">Bài viết
                    chờ xuất bản</a></li>
            <li role="presentation"> <a data-toggle="tab" role="tab" href="#baiVietBiTuChoi">Bài viết bị từ chối</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="baiVietDaXuatBan" class="tab-pane fade" role="tabpanel">
                <ul class="small_catg popular_catg">
                    {{#each BVdaxuatban}}
                    <li>
                        
                        <div class="media wow fadeInDown"> <a class="media-left"  href="/baibao/{{idBaiBao}}"><img src="{{AnhDaiDien}}"
                                    alt=""></a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/baibao/{{idBaiBao}}">{{TenBaiBao}} </a></h4>
                                <p>{{NoiDungTomTat}} </p>
                                <div class="Date">{{NgayDang}}</div>
                            </div>
                        </div>
                      
                    </li>
                      {{/each}}

                </ul>
            </div>

            <div id="baiVietChoPheDuyet" class="tab-pane fade" role="tabpanel">
                <ul class="small_catg popular_catg">
                  
                    {{#each BVdaxuatban}}
                  
                    <li>
                        
                        <div class="media wow fadeInDown"> <a class="media-left" href="/baibao/{{idBaiBao}}"><img src="{{AnhDaiDien}}"
                                    alt=""></a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/baibao/{{idBaiBao}}">{{TenBaiBao}} </a></h4>
                                <p>{{NoiDungTomTat}} </p>
                                <div class="Date">{{NgayDang}}</div>
                            </div>
                        </div>
                      
                    </li>
                    
                      {{/each}}

                </ul>
            </div>
              <div id="baiVietChoXuatBan" class="tab-pane fade" role="tabpanel">
                <ul class="small_catg popular_catg">
                    {{#each BVdaxuatban}}
                    <li>
                        
                        <div class="media wow fadeInDown"> <a class="media-left" href="/baibao/{{idBaiBao}}"><img src="{{AnhDaiDien}}"
                                    alt=""></a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/baibao/{{idBaiBao}}">{{TenBaiBao}} </a></h4>
                                <p>{{NoiDungTomTat}} </p>
                                <div class="Date">{{NgayDang}}</div>
                            </div>
                        </div>
                      
                    </li>
                      {{/each}}

                </ul>
            </div>
             <div id="baiVietBiTuChoi" class="tab-pane fade" role="tabpanel">
                <ul class="small_catg popular_catg">
                    {{#each BVdaxuatban}}
                    <li>
                        <form method="POST" >
                        <div class="media wow fadeInDown"> <a type="submit" class="media-left" href="/writer/{{idBaiBao}}"><img src="{{AnhDaiDien}}"
                                    alt=""></a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/writer/{{idBaiBao}}">{{TenBaiBao}} </a></h4>
                                <p>{{NoiDungTomTat}} </p>
                                <div class="Date">{{NgayDang}}</div>
                            </div>
                        </div>
                      </form>
                    </li>
                      {{/each}}

                </ul>
            </div>
        </div>
    </div>