<!DOCTYPE html>
<html>

<head>
  <title>HDDExpress</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/CssNew.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/slick.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/theme.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="/DangNhap.css">
  <link rel="stylesheet" type="text/css" href="/register.css">

  {{{_sections.css}}}
  <!--[if lt IE 9]>
<script src="assets/js/html5shiv.min.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
</head>

<body>

  <div style="margin-top: -20px" class="container">
    <header id="header">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="header_top">
            <div class="header_top_left">
              <ul class="top_nav">
                <li><a href="pages/KhoiNghiep.html">Tin mới</a></li>
                <li><a href="pages/KhoiNghiep.html">Trong nước</a></li>
                <li><a href="pages/KhoiNghiep.html">Ngoài nước</a></li>
                <li><a href="pages/KhoiNghiep.html">Đời sống</a></li>
              </ul>
            </div>
            <div class="header_top_right">
              <div
                style="height: 50px; display: flex;justify-content: space-between; padding-right:10px;margin-top: 10px; margin-left: 20px;margin-right: 10px; ">
                <a href="/home"><img style="margin-left: 60px; margin-top: -30px;width: 28%;"></a>
                <span>
                  <ul class="sign-in" style="display: flex;justify-content: center">
                    {{#if isAuthenticated}}
                    <li class="nav-item dropdown">
                      <form id="frmSignout" action="/logout" method="POST" style="height: 20px;">

                        <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false" id="navbarDropdown">
                          <b style="color: #F1F1F1">{{authUser.HoTen}}</b>
                          &nbsp;<i style="color: #F1F1F1" class="fa fa-caret-down" style="font-size:18px"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown"
                          style="background-color: #373C40">
                          <a class="dropdown-item" href="/profile">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-user" aria-hidden="true"></i>

                            &nbsp;&nbsp;&nbsp;Profile

                          </a>

                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/DoiMatKhau">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-key" aria-hidden="true"></i>
                            &nbsp;&nbsp;&nbsp;Đổi mật khẩu

                          </a>
                           {{#if isDocGia}}
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/account/doimatkhau">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-key" aria-hidden="true"></i>
                            &nbsp;&nbsp;&nbsp;docgia

                          </a>
                          {{/if}}
                          {{#if isAdmin}}
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/account/doimatkhau">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-key" aria-hidden="true"></i>
                            &nbsp;&nbsp;&nbsp;admin

                          </a>
                          {{/if}}
                           {{#if isEditer}}
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/account/doimatkhau">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-key" aria-hidden="true"></i>
                            &nbsp;&nbsp;&nbsp;Editer

                          </a>
                          {{/if}}
                           {{#if isWriter}}
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/writer">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-key" aria-hidden="true"></i>
                            &nbsp;&nbsp;&nbsp;Writer

                          </a>
                          {{/if}}
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/Login/logout">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i>
                            &nbsp;&nbsp;&nbsp;Đăng xuất
                          </a>
                        </div>
                      </form>
                    </li>
                    {{else}}

                    <li class="dropdown" style="font-family: arial, sans-serif;font-size: 14px;">
                      <a href="/Login"><b style="color: #F1F1F1">Đăng nhập&nbsp;&nbsp;</b><span class="mx-1"></span></a>
                    </li>
                    <li>
                      <a href="javascript:;" target="_self" class="hide-logged-in">
                        <div class="text">|</div>
                      </a>
                      <div class="clear"></div>
                    </li>

                    <li><a class="btn-register hide-logged-in" href="/Dangki"
                        style="font-family: arial, sans-serif;font-size: 14px;color: #F1F1F1">
                        <b>&nbsp;<span class="fa fa-user"></span>&nbsp;&nbsp;Đăng ký</b><span></span></a>

                    </li>

                    {{/if}}
                  </ul>

                </span>
              </div>

            </div>
          </div>
          <div class="header_bottom">
            <div class="header_bottom_left"><a class="logo" href="/">HHD<strong>Express</strong> <span>Báo mới cho mọi
                  nhà</span></a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span
                class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
        </div>
      </div>
    </header>
    <div id="navarea">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <div class="header_top_left">
              <ul class="nav navbar-nav custom_nav">
                <li><a href="/">Trang Chủ</a></li>

                {{#each lcChuyenMuc}}
                <li class="dropdown"> <a href="#" class="" data-toggle="dropdown" role="button"
                    aria-expanded="false">{{TenCM}}</a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/chuyenmuc/{{idcm1}}">{{cm1}}</a></li>
                    <li><a href="/chuyenmuc/{{idcm2}}">{{cm2}}</a></li>
                  </ul>
                </li>
                {{/each}}

              </ul>
            </div>
            <div class="header_top_right">

              <form action="/timkiem" method="POST" class="search_form">
                <input name= "ten" type="text" placeholder="Text to Search">
                <input type="submit" value="">

              </form>

            </div>
          </div>
      </nav>
    </div>

    {{{body}}}
  </div>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/wow.min.js"></script>
  <script src="/assets/js/slick.min.js"></script>
  <script src="/assets/js/custom.js"></script>
  {{{_sections.js}}}
</body>

</html>